body{
    background-color:#636363;
    text-align: center;
    color: #000000;
}
.App{
    background-color: #ffffff;
    width: 500px;
    height: auto;
    margin: 3em auto;
    border-radius: 4px;
}
#app-title{
    font-family: 'Righteous', cursive;
    margin-top:3em; 
    letter-spacing: 1px;
}